@theme: #1890ff;

.tabs{
  margin-top: 15%;
  --fixed-active-line-width: 50%;
}

hr {
  border: 0;
  height: 1px;
  background-color:aliceblue /* 替换为你需要的颜色 */
}

.form{
  .adm-list-item-title {
    font-size: 14px; /* 设置标题字体大小 */
  }
  .adm-list-item-content {
    font-size: 15px; /* 设置内容字体大小 */
  }
}

.footer {
  margin-top: 0px;
  background-color: transparent; /* 去掉背景色 */
  border: none; /* 去掉边框，如果有的话 */
  
  .adm-footer {
    background-color: transparent; /* 去掉背景色 */
    border: none; /* 去掉边框 */
    box-shadow: none; /* 去掉阴影 */
  }

  .adm-footer-content {
    background-color: transparent; /* 确保内容背景色也去掉 */
    border: none; /* 去掉边框 */
  }
}