@theme: #1890ff;

.card-container {
    background-color: @theme;
    height: 100%;
    padding: 3px;
    padding-bottom: 100px;
  }
  
  .adm-card-body{
    padding: 5px;
    
  }

  .custom-card {
    padding: 0px;
    margin-bottom: 3px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .adm-divider adm-divider-horizontal adm-divider-center{
    padding: 0px;
    
  }

  .line1 {
    padding: 3px 0;
    font-weight: bold;
  }
  
  .line-group {
    display: flex;
    justify-content: space-between;
  }
  
  .line {
    flex: 1;
    padding: 3px;
    text-align: center;
    margin: 0px;
    color: black;
  }
  
  .text-area {
    padding: 3px 0;
    text-align: start;
    color: gray;
  }
  
  .divider-line{
    margin: 5px 1px;
  }