@theme: #1890ff;

.card-container {
    background-color: @theme;
    height: 100%;
    padding: 3px;
    padding-bottom: 5px;
  }
  
  .adm-card-body{
    padding: 5px;
    
  }

  .custom-card {
    padding: 0px;
    margin-bottom: 10px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
  }
  
  .adm-divider adm-divider-horizontal adm-divider-center{
    padding: 0px;
    
  }

  .line1 {
    padding: 3px 0;
    font-weight: bold;
  }
  
  .line-group {
    display: flex;
    justify-content: space-between;
  }
  
  .line {
    flex: 1;
    padding: 3px;
    text-align: center;
    margin: 0px;
    color: black;
  }
  
  .text-area {
    padding: 3px 0;
    text-align: start;
    color:rgb(44, 44, 44);
    text-indent: 2em; /* 首行缩进两格 */
  }
  
  .divider-line{
    margin: 5px 1px;
  }

  .last-time{
    color: rgb(168, 166, 166);
  }

  .adm-pull-to-refresh-head-content{
    color: #fff;
  }

  .tracking{

    text-align: right; /* 右对齐 */
    //display: block; /* 确保块级显示 */
  }

  .click{
    color: black;
    font-weight: bold;
  }