@theme: #1890ff;


.message-tabs{
    --active-title-color: @theme;
    --title-font-size: 24px;
    --active-line-height:2px;
    --fixed-active-line-width: 50%;
    color: black;
    font-size: 13px;
    .adm-tabs-tab{
        font-size: 14px;

    }
    .adm-badge-wrapper{
        font-size: 14px;
        
    }

    .adm-tabs-header{
        background-color: #fff;
    }

    .adm-tabs-tab-active{
        font-size: 14px;
    }
}

