@theme: #1890ff;

.message-tabs {
  --active-title-color: @theme;
  --title-font-size: 24px;
  --active-line-height: 2px;
  --fixed-active-line-width: 25%;
  color: black;
  font-size: 13px;

  .adm-tabs-tab {
    font-size: 14px;
  }

  .adm-badge-wrapper {
    font-size: 14px;
  }

  .adm-tabs-header {
    background-color: #fff;
  }

  .adm-tabs-tab-active {
    font-size: 14px;
  }
}

.message-custom-card {
  padding: 3px 10px;
  margin-bottom: 5px;
}

.message-news-image {
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  /* 填满容器并保持比例 */
  //object-fit: contain;        /* 保持图片的比例，适应容器 */
  min-width: 300px;
}

.message-news-image-container {
  /* 容器最大高度 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 232, 232);
  /* 默认背景颜色 */
  width: 100%;
}

.message-news-image {
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  /* 填满容器并保持比例 */
  //object-fit: contain;        /* 保持图片的比例，适应容器 */
  min-width: 300px;
}

.message-title {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;

  .news-type {
    color: gray;
    font-size: 13px;
  }
}

.message-line {
  margin: 5px 1px;
}

.message-text-area {
  padding: 1px 0;
  text-align: start;
  color: rgb(44, 44, 44);
  //text-indent: 2em;
  /* 首行缩进两格 */
  font-size: 13px;
  margin-bottom: 5px;

  .line {
    display: flex;
    text-align: start;
    font-size: 13px;
    padding: 1px 0px;
  }
  .reply {
    color: #0158a9;
    font-size: 13px;
  }
  .content {
    padding: 0px 1px;
    //font-weight: 400;
    color: black;
    font-size: 13px;
  }
  .comment {
    color: gray;
    margin-top: 3px;
  }
}

.reply-content {
  margin-top: 10px;
}

.message-time {
  color: gray;
  font-size: 13px;
  text-align: left;
  margin-top: 1px;
}

.message-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .find {
    color: black;
  }
}

.message-chat-item {
  display: flex;
  align-items: flex-start; // 确保头像和内容在一行对齐
  margin-bottom: 5px; // 每条记录的间距

  .avatar {
    width: 36px; // 调整头像的宽度
    height: 36px; // 调整头像的高度
    margin-right: 5px; // 头像和聊天内容的间距
  }

  .message-content {
    display: flex;
    flex-direction: column;
  }
}
