@theme: #1890ff;

.set-personal {
  background-color: @theme;
  min-height: 100vh;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;

  .edit {
    height: 35px;
    color: black;
    background-color: #fff;
    border-top: 1px solid @theme;

    .adm-nav-bar-title {
      font-size: 13px;
    }

    .adm-nav-bar-back-arrow {
      font-size: 13px;
    }
  }

  .card {
    margin: 5px 12px;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(18, 18, 18, 0.2);

    .adm-card-body {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .avatar-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0px;
    padding: 0px;

    .avatar-with-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button-container {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      height: 25px;
      width: 35px;

      .change-avatar-button {
        margin: 0px;
        padding: 0px;
        font-size: 13px;
        margin-top: auto;
        margin: 5px 0px;
      }
    }
  }

  .personal-avatar {
    --size: 60px;
    margin: 5px 0px;
    position: relative;
  }

  .form {
    width: 100%;
    .adm-list-card {
      margin-top: 0px;
      padding-top: 0px;
    }

    input {
      font-size: 13px;      
    }

    .adm-list-item-content-prefix {
      //padding: 10px 0px;
      width: 70px;
    }

    .adm-list-item {
      padding: 2px 0 !important;
      margin: 0 !important;

      .adm-form-item-label {
        font-size: 13px;
        padding: 0 8px !important;
        line-height: 1.5 !important;
      }

      .adm-form-item-control {
        padding: 0 !important;
      }

      .adm-input {
        font-size: 12px !important;
      }
    }


  }
}

.textArea {
  background: rgba(218, 216, 216, 0.319);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0px;
  --font-size: 13px;

  .adm-text-area-count {
    font-size: 13px;
  }
}

.avatar-list {
  width: 100%;
  height: 100%;
  overflow: auto; /* 确保内容可以滚动 */
  padding: 0; /* 去除任何内边距 */
}

.tabs-personal {
  margin: 0px;
  padding: 0px;
  width: 100%;  
  .adm-tabs-header{
    margin: 0px;
    padding: 0px;
    //background-color: #1890ff;
  }
  .adm-tabs-tab {
    font-size: 13px;
  }
}

.avatar-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.avatar-style {
  border: 1px solid @theme; /* 设置边框颜色和宽度 */
  //border-radius: 50%; /* 使边框圆角，如果头像是圆形 */
  padding: 1px; /* 如果需要内边距 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  margin: 1px; /* 每个头像的外边距 */
}
.button{
  font-size: 14px;
}
