@color: #f3f1f5;

.top-news {
  margin: 0;

  /* 去掉外边距 */
  .list-item {
    line-height: 2;
    font-size: 13px;
    border-bottom: none;
    .top {
      color: red;
    }
  }
}

.news-list {
  max-height: 180px; /* 设置一个最大高度 */
  overflow: auto; /* 隐藏滚动条 */
  position: relative;

  .scroll-content {
    display: flex;
    flex-direction: column;
    transition: transform 0.1s linear;
  }

  .adm-list-item {
    font-size: 13px;    /* 调整字体大小 */
    line-height: 0.5;    /* 调整行高，使内容更紧凑 */
    border-bottom: 1px solid @color;  /* 添加下边框 */
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* 添加下边框 */
  .adm-list-item-description {
    margin-top: 10px;
    /* 调整描述文字与标题的间距 */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin-top: -5px;
  margin-bottom: 5px;

  .logo,
  .avatar {
    font-size: 16px;
  }

  .search-bar {
    font-size: 12px;
    flex: 1;
    margin: 0 20px;
    height: 25px;
    padding: 0;
  }
}


// 如果 .adm-card-body 是来自一个库的类，可以通过增加以下代码覆盖其样式
.adm-card-body {
  padding: 2px 30px; // 移除 padding
  margin: 0px; // 移除 margin
}

.notice-bar {
  font-size: 13px;
  background-color: #f4f5f7; // 浅灰色背景
  color: #4b4949; // 黑色文字

}

.chat {
  font-size: 12px;
  margin: 5px;
  text-align: left;
  max-height: 200px; // 设置最大高度
  overflow-y: auto; // 允许垂直滚动

  .time {
    color: #a09d9d;
    font-size: 11px;
    text-align: left;
  }
}

.send {
  display: flex;
  padding: 1px;
  border-top: 1px solid #1890ff;
  border-bottom: 1px solid #1890ff;
}

.banner {
  width: 75%;
  margin: 0 auto; /* 使轮播图居中 */
  height: 150px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}