@theme: #1890ff;

.personal {
  background-color: @theme;
  height: 100%;
  width: 100%;
  padding: 1px 0px;
}

.card {
  .adm-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  margin: 5px 10px;
  //padding-right: 0px;
  background-color: #fff; /* 设置背景颜色 */
  box-shadow: 1px 1px 2px rgba(18, 18, 18, 0.2); // 添加阴影
}

.card-personal-info{
  .adm-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  height: 200px;
  margin: 5px 10px;
  //padding-right: 0px;
  background-color: #fff; /* 设置背景颜色 */
}

.personal-avatar {
  --size: 70px;
  margin: 5px 0px;
}

.header-text {
  font-size: 18px;
  text-align: left;
}

.avatar-container {
  display: flex;
  align-items: flex-start; /* 对齐到顶部 */
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.avatar-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 12px;
  font-size: 14px;
  .name,
  .account,
  .level {
    font-size: 14px;
    margin-bottom: 6px; /* 设置每个元素的下外边距 */
  }
  .account {
    color: gray;
  }
}

.right-info {
  display: flex;
  flex-direction: column;
  margin-left: auto; /* 自动左边距以将其推到最右边 */
  font-size: 14px;
  align-items: flex-end; /* 确保内容对齐到右侧 */
  .name {
    font-size: 14px;
  }
  .city,
  .account {
    font-size: 14px;
  }
}

.card-personal-desc{

  .adm-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  height: 60px;
  margin: 1px 10px;
  //padding-right: 0px;
  background-color: #fff; /* 设置背景颜色 */
}

.personal-desc{
  --font-size	: 14px;
}


.personal-info-container {
  display: flex;
  height: 300px;
  width: 100%;
  box-sizing: border-box; /* 确保padding和border包含在width和height内 */
  padding: 1px 10px; /* 给容器添加一些内边距 */
  margin-top: 3px;
}

.card-personal-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  height: 100%; /* 确保Card组件高度与容器一致 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-personal-info-container {
  display: flex;
  gap: 10px; /* 调整间距 */
}

.personal-info {
  font-size: 16px;
}
