@theme: #1890ff;

.personal {
  background-color: @theme;
  min-height: 100vh; /* 确保背景颜色填充整个屏幕 */
  width: 100%;
  padding: 1px 0px;
  flex-direction: column;
}

.status-tag {
  font-size: 10px;
  margin: 0px 10px;
  --tag-padding-vertical: 4px; // 上下内边距
  --tag-padding-horizontal: 8px; // 左右内边距
  --tag-border-radius: 8px; // 圆角大小
}

.card {
  .adm-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  padding: 1px 5px;

  margin: 5px 10px;
  background-color: #fff;
  /* 设置背景颜色 */
  box-shadow: 1px 1px 2px rgba(18, 18, 18, 0.2);
  /* 添加阴影 */
}

.card-personal-info {
  height: 230px;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1px;
  height: 100%;
  /* 确保 Card 组件高度与容器一致 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-right: 10px;

  .adm-card-body {
    padding: 0px;
    width: 100%;
  }
}

.card-personal-info-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* 垂直排列 */
}

.personal-avatar {
  --size: 56px;
  margin: 5px 0px;
  position: relative;
  border: 1px solid @theme; /* 设置边框颜色和宽度 */
  //border-radius: 50%; /* 使边框圆角，如果头像是圆形 */
  padding: 1px; /* 如果需要内边距 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.header-text {
  font-size: 18px;
  text-align: left;
}

.avatar-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  /* 对齐到顶部 */
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.avatar-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-info {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  margin-left: 12px;

  .name {
    font-size: 15px;
    //margin-bottom: 10px;
  }
  .balance,
  .account {
    margin-top: 6px;
    font-size: 15px;
    color: gray;
  }
  .status {
    font-size: 16px;
    //margin-top: 12px;
  }

  /* 每行之间的间距 */
  .left {
    width: 70px;
    /* 设置一个固定宽度以对齐 */
    padding-right: 1px;
  }

  .level {
    font-size: 15px;
    margin-top: 5px;
    color: gray;
  }

  .levelName {
    color: #b92a02;
  }
}

.right-info {
  display: flex;
  flex-direction: column;
  //margin-left: auto;
  /* 自动左边距以将其推到最右边 */
  align-items: flex-end;
  margin-right: 10px;
  /* 确保内容对齐到右侧 */
}

.card-personal-desc {
  .adm-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  margin: 1px 10px;
  background-color: #fff;
  /* 设置背景颜色 */
}
.personal-info-container {
  flex: 1; /* 使其占据剩余空间 */
  flex-direction: column;
  /* 确保 Card 组件垂直排列 */
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  /* 确保 padding 和 border 包含在 width 和 height 内 */
  padding: 1px 10px;
  margin-bottom: 30px;
}

.personal-info {
  font-size: 15px;
  display: flex;
  /* 使用 flexbox 布局 */
  align-items: center;
  /* 确保内容垂直居中 */
  width: 100%;
  margin-bottom: 12px;

  .right {
    margin-left: 10px;
  }

  .right-icon {
    margin-left: auto; /* 将图标推到最右边 */
    align-self: center; /* 垂直居中 */
  }

  .evaluate {
    color: gray;
    .red-tag {
      margin-left: 5px;
      color: red;
    }
    .blue-tag {
      margin-left: 5px;
      color: blue;
    }
  }
}

.personal-info-space {
  display: flex;
  justify-content: space-between;
  /* 平均分配空间 */
  width: 100%;
  /* 根据需要设置宽度 */
  padding: 0px;
}

.personal-info-space span {
  flex: 1;
  /* 平均分配空间 */
  display: flex;
  /* 使用 flexbox */
  flex-direction: column;
  /* 垂直排列 */
  justify-content: center;
  /* 水平方向居中 */
  align-items: center;
  /* 垂直方向居中 */
  text-align: center;
  /* 确保文字在 span 内居中 */
}

.personal-info-space .label {
  background-color: rgba(1, 36, 54, 0.515); /* 灰色半透明背景 */
  padding: 1px; /* 添加内边距 */
  border-radius: 5px; /* 圆角 */

  width: 40%;
  text-align: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.message-board {
  background-color: rgba(231, 227, 227, 0.658);
  /* 设置文本颜色 */
  border-radius: 5px;
  /* 圆角 */
  margin-bottom: 0px;
  .adm-text-area-element {
    padding: 5px 8px;

    font-size: 15px;
  }
  .adm-text-area-count {
    font-size: 12px;
  }
}

.personal-info-desc {
  color: gray;
  font-size: 15px;
  margin-top: 5px;
}

.card-outer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 10px; /* 控制外层容器的左右间隙 */
}

.card-inner-container {
  display: flex;
  flex-direction: column;
  margin: 1px 0; /* 控制上下间隙 */
  width: 100%;
  .adm-card-body {
    padding: 0;
  }
}

.card-title {
  font-size: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-inner-container .adm-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.fucation {
  display: flex;
  justify-content: space-between;
  //margin: 15px 0px;
  .right-icon {
    display: flex;
    margin-right: 10px;
    align-items: center;
    height: 40px;
  }
}
