@theme: #1890ff;

.news-info {
  padding: 5px;
  //overflow-y: auto; /* 允许滚动 */
  height: 100%;
  .adm-card-body {
    margin: 0px;
    padding: 0px;
  }

  margin-bottom: 30px;
}

.popup-scrollable-content {
  //padding-bottom: 50px;
  height: 100%;
}

.edit {
  height: 30px;
  color: black;
  background-color: none;
  margin-bottom: 5px;

  .adm-nav-bar-title {
    font-size: 12px;
  }

  .adm-nav-bar-back-arrow {
    font-size: 18px;
  }
}

.newsinfo-content {
  padding: 2px 0px;
  color: black;
  --font-size: 14px;
  //--text-align: center;
  word-wrap: break-word;
  /* 确保长单词也会换行 */
  white-space: pre-wrap;
  /* 保留空白字符 */
  overflow-y: auto;
  .adm-text-area-element {
    overflow-y: auto;
    /* 始终显示纵向滚动条 */
    padding: 1px 5px;
    border-top: 3px double rgba(128, 128, 128, 0.199);
    border-left: 3px double rgba(128, 128, 128, 0.199);
    border-right: 3px double rgba(128, 128, 128, 0.199);
    line-height: 1.5;
  }

  textarea {
    overflow-y: auto !important;
    /* 始终显示纵向滚动条 */
    word-wrap: break-word;
    /* 确保长单词也会换行 */
    white-space: pre-wrap;
    /* 保留空白字符 */
    margin-top: 1px;
    text-indent: 2em; /* 首行缩进两格 */
  }
}

.newsinfo-title {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}

.newsinfo-time {
  font-size: 13px;
  color: gray;
  margin-bottom: 5px;
}

.newsinfo-attribute {
  display: flex;
  margin-bottom: 10px;
  //justify-content: center; /* 平均分配空间 */
  padding: 10px 10px;

  .adm-divider-content {
    color: gray;
  }
}

.newsinfo-attribute span {
  flex: 1;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center;
  /* 水平居中 */
  height: 20px;
  color: gray;
}

.attribute-icon {
  margin-right: 3px;
}

.swiper-item {
  display: flex;
  justify-content: center;
}

.news-input-comment {
  display: absolute;
  flex: 1;
  outline: none;
  padding: 2px;
  margin-bottom: 2px;
  border: 1px solid @theme;
  border-radius: 10px;
  padding-right: 10px;
}

.news-input-comment ::placeholder {
  font-size: 12px;
}

.news-input-comment input {
  font-size: 18px; // 修改输入文本的字体大小
  margin-left: 5px;
}

.line {
  border-color: rgba(240, 236, 236, 0.65);
  font-size: 13px;
  margin: 1px 0;
  color: gray;
}

.source {
  font-size: 13px;
}
