@theme: #1890ff;

.news-info{
    padding: 0px 5px;
    .adm-card-body{
      margin: 0px;
      padding: 0px;

    }
}

.edit {
    height: 30px;
    color: black;
    background-color: none;
    margin-bottom: 5px;

    .adm-nav-bar-title {
      font-size: 12px;
    }

    .adm-nav-bar-back-arrow {
      font-size: 18px;
    }
  }

  .newsinfo-content{
    padding: 2px 0px;
    color: black;
    --font-size	:14px;
    --text-align:center;
    word-wrap: break-word; /* 确保长单词也会换行 */
    white-space: pre-wrap; /* 保留空白字符 */

    .adm-text-area-element{
      padding: 5px 5px;
      border-top: 3px double rgba(128, 128, 128, 0.498);
      border-left: 3px double rgba(128, 128, 128, 0.498);
      border-right: 3px double rgba(128, 128, 128, 0.498);
    }
    
    textarea{
      overflow-y: scroll !important; /* 始终显示纵向滚动条 */
      word-wrap: break-word; /* 确保长单词也会换行 */
      white-space: pre-wrap; /* 保留空白字符 */
      margin-top: 5px;
    }
  }



  .newsinfo-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    color: black;
  }

  .newsinfo-time {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
  }

  .newsinfo-attribute {
    display: flex;
    justify-content: space-between; /* 平均分配空间 */
}

.newsinfo-attribute span {
    flex: 1; /* 每个 span 平均分配空间 */
    text-align: center; /* 水平居中 */
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    height: 20px; /* 可选：设置 span 高度 */
    margin-top: 5px;
    color: gray;
}

.attribute-icon{
  margin-right: 5px;
}

.line{
  border-color: rgba(240, 236, 236, 0.65);
    font-size: 12px;
    margin: 5px 0;
    color: gray;
}

.swiper-item {
  display: flex;
  justify-content: center;
}