.lottery-tabs {
  --active-title-color: 'blue';
  --title-font-size: 24px;
  --active-line-height: 2px;
  --fixed-active-line-width: 25%;
  //margin-bottom: 200px;

  color: black;
  font-size: 16px;

  .adm-tabs-tab {
    font-size: 16px;
  }

  .adm-badge-wrapper {
    font-size: 16px;
  }

  .adm-tabs-header {
    background-color: #fff;
  }

  .adm-tabs-tab-active {
    font-size: 16px;
  }
  .adm-tabs-tab-list {
    padding: 3px 0px;
  }
}
