@theme: #1890ff;
.adm-tabs-content {
  padding: 5px 5px;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  align-items: stretch; /* 让子元素高度自适应填满容器 */
  height: auto; /* 确保容器本身的高度能撑开 */
  //min-height: 120px; /* 设置一个合理的最小高度 */
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  height: 100%; /* 确保高度能撑开 */

  .adm-card-body {
    padding: 0px 0px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  flex: 1;
  min-height: 100%;
}

.title {
  text-align: left;
  font-size: 15px;
  margin-bottom: 1px;
  //justify-content: space-around;
}

.flex-spacer {
  flex: 1; /* 占据多余空间，推挤 attributes 到底部 */
}

.attributes {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  color: #666;
  /* 字体颜色可以根据需要调整 */
  margin-top: auto;
}

.image-container {
  width: 120px; /* 固定宽度 */
  height: 120px; /* 固定高度 */
  max-width: 120px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
}

.attributes span {
  padding: 0px;
  margin-right: 2%;
  font-size: 13px;
}

.time {
  font-size: 13px;
  color: gray;
  margin-right: 5px;
}

.adm-image-img {
  min-height: 100%;
}

.news-image {
  width: 100%; /* 填满容器宽度 */
  height: 100%; /* 填满容器高度 */
  object-fit: cover; /* 截图展示，不改变原图比例但完全填满 */
}

.popup-scrollable-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.news-record-popup {
  overflow-y: auto;
}

.news-record-popup .adm-image-img {
  max-height: 200px;
}

.source {
  color: gray;
  font-size: 12px;
}

.news-info-container {
  margin-top: 5px;
  text-align: left;
}

.news-info-source-container {
  padding-right: 3px;
  text-align: right;
}

.news-info-badge {
  padding: 2px 2px;

  .adm-badge-content {
    font-size: 11px;
    font-weight: bold;
  }
}

