@theme: #1890ff;
.adm-tabs-content {
  padding: 5px 5px;
}

.content-container {
  display: flex;
  align-items: stretch; /* 让子元素高度自适应填满容器 */
  height: auto; /* 确保容器本身的高度能撑开 */
  //min-height: 120px; /* 设置一个合理的最小高度 */
}

.outer-container {
  display: flex;
  flex-direction: column;
  padding: 0px 3px;
  margin: 0;
  //background-color: @theme;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
  height: 100%; /* 确保高度能撑开 */

  .adm-card-body {
    padding: 0px 0px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  flex: 1;
  min-height: 100%;
}

.title {
  text-align: left;
  font-size: 14px;
  margin-bottom: 1px;
  //justify-content: space-around;
}

.flex-spacer {
  flex: 1; /* 占据多余空间，推挤 attributes 到底部 */
}

.attributes {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  color: #666;
  /* 字体颜色可以根据需要调整 */
  margin-top: auto;
}

.image-container {
  width: 150px; /* 固定宽度 */
  max-width: 160px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.attributes span {
  padding: 0px;
  margin-right: 2%;
  font-size: 13px;
}

.time {
  font-size: 13px;
  color: gray;
  margin-right: 5px;
}

.adm-image-img {
  min-height: 100%;
}

.news-image {
  width: 160px; /* 固定图片宽度 */
  height: 100%; /* 高度填满容器 */
  object-fit: cover; /* 填满容器并保持比例 */
  max-height: 100%; /* 确保图片不会超出容器高度 */
}

//下拉刷新样式
.outer-container .adm-pull-to-refresh-head-content {
  color: #fff;
}

.popup-scrollable-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.news-record-popup {
  overflow-y: auto;
}

.news-record-popup .adm-image-img {
  max-height: 200px;
}

.source {
  color: gray;
  font-size: 12px;
}
.news-info-container {
  margin-top: 5px;
  text-align: left;
}

.news-info-source-container {
  margin-bottom: 5px;
  text-align: right;
}
.news-info-badge {
  padding: 2px 2px;

  .adm-badge-content {
    font-size: 11px;
    font-weight: bold;
  }
}

.h-content-container {
  padding: 0px 5px;
  display: flex;
  flex-direction: column; /* 纵向排列 */
  width: 100%; /* 每行占满整个宽度 */
}

.h-image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* 让图片垂直居中 */
  justify-content: center; /* 让图片水平居中 */
}

.h-news-image {
  width: 95%; /* 让图片撑满整个容器 */
  height: auto; /* 高度自适应 */
}

.h-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h-title {
  font-size: 15px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
}

.h-time {
  width: 100%;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.h-news-info-container,
.h-news-info-source-container,
.h-attributes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.h-attributes span {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.h-attributes-contariner {
  display: flex;
  flex-wrap: nowrap; /* 确保所有列在同一行 */
  justify-content: space-between; /* 列之间保持均匀间隔 */
  width: 100%;
}

.h-column {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中（如果需要的话） */
  padding: 10px;
  height: 10px; /* 确保有固定高度，否则 align-items 无效 */
  font-size: 14px;
  color: gray;
  span {
    padding: 0 3px;
  }
  .source {
    font-size: 13px;
    color: gray;
  }
}

.h-news-info-badge {
  padding: 3px 4px;

  .adm-badge-content {
    font-size: 12px;
  }
}
