@theme: #1890ff;
:root {
  --adm-color-primary: #1890ff;
  --adm-color-success: #52c41a;
  --adm-color-warning: #faad14;
  --adm-color-danger: #f5222d;
  --adm-color-info: #13c2c2;
}
html,
body {
  //height: 100vh;
  margin: 0;
  touch-action: manipulation; /* 禁用缩放 */
}

.main-container {
  height: 100vh; /* 设置高度为视口高度 */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* 使内容区域扩展以填充剩余空间 */
  background-color: inherit; /* 确保背景颜色传递 */
  padding-bottom: 60px; /* 确保内容不会被底部导航栏挡住 */
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* 启用平滑滚动 */
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999; /* 保证导航栏在其他内容之上 */
  margin: 0px;
  padding-top: 1px;
  background-color: #fff; /* 根据需要设置背景颜色 */
  height: 50px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.adm-tabs-tab {
  padding: 6px 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.adm-tabs-tab {
  padding: 6px 0; /* 调整上下空白间隔，原为4px，现在改为2px */
  font-size: 16px;
}

.adm-dot-loading-dot {
  color: #ffffff; /* 设置你想要的颜色 */
}

.dot-loading-custom {
  span {
    color: #ffffff; /* 设置Loading文字的颜色 */
  }
}
.adm-infinite-scroll {
  padding: 0px;
  margin: 0px;
  color: #181717c4;
  //background-color: @theme;
  margin-top: 0px;
}

.dot-loading-custom {
  span {
    font-size: 16px;
  }
}

/* 针对桌面设备的样式调整 */
@media (min-width: 768px) {
  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.adm-pull-to-refresh {
  touch-action: pan-y !important;
}
