@theme: #1890ff;
:root {
  --adm-color-primary: #1890ff;
  --adm-color-success: #52c41a;
  --adm-color-warning: #faad14;
  --adm-color-danger: #f5222d;
  --adm-color-info: #13c2c2;
}
html,
body {
  touch-action: manipulation; /* 禁用缩放 */
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: auto; // ✅ 页面整体滚动，其他地方都不要滚
  overscroll-behavior: none; // ✅ 禁止滚动回弹
}

.main-container {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  padding-bottom: 200px;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999; /* 保证导航栏在其他内容之上 */
  margin: 0px;
  padding: 3px 0px;
  background-color: #fff; /* 根据需要设置背景颜色 */
  border-top: 1px solid rgb(233, 230, 230);
}

.adm-tabs-header {
  padding: 1px 0px;
  border-bottom: none !important;
}

.adm-tabs-tab {
  padding: 5px 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.adm-dot-loading-dot {
  color: #ffffff; /* 设置你想要的颜色 */
}

.dot-loading-custom {
  span {
    color: #ffffff; /* 设置Loading文字的颜色 */
    font-size: 16px;
  }
}
.adm-infinite-scroll {
  padding: 0px;
  margin: 0px;
  color: #181717c4;
  //background-color: @theme;
  margin-top: 0px;
}

.adm-scroll-mask-right {
  width: 10px !important; /* 缩小渐变宽度（原来是约 30px） */
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.adm-scroll-mask-left {
  width: 10px !important; /* 缩小渐变宽度（原来是约 30px） */
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

/* 针对桌面设备的样式调整 */
@media (min-width: 768px) {
  .main-container {
    height: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
  }
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .capsule-tabs-container {
    max-width: 680px;
    width: 100%;
  }
}

.adm-pull-to-refresh {
  touch-action: pan-y !important;
}
.adm-pull-to-refresh-head-content {
  color: black !important; // ← 替换成你想要的颜色
  font-size: 14px; // 也可以顺便调整字体大小
}
@media (min-width: 1024px) {
  .main-container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .navbar {
    left: 50%;
    transform: translateX(-50%);
    max-width: 680px;
    width: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); // 可选
  }

  .capsule-tabs-container {
    max-width: 680px;
    width: 100%;
  }

  .news-list {
    max-height: 120px;
    min-height: 120px;
  }
}
