.society-title{
    font-size: 15px;
    font-weight: bold;
}

.society-text-area {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
}



.society-time {
  text-align: right;
  color: gray;
  font-weight: 500 !important;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 10px;
  margin-top: 10px;
}

.city {
  color: gray;
  font-weight: 500 !important;
}
.tracking {
  display: inline-block; /* 防止文字过长时的换行 */
  text-align: center;
  .area {
    margin-right: 3px;
  }
  font-weight: 500 !important;
  color: gray !important;
}
.icon-and-text {
  display: inline-flex;
  align-items: center; /* 垂直居中 */
  gap: 1px; /* 图标和数字之间的间距，可调整 */
  font-weight: 500 !important;
}

.line {
  flex: 1;
  padding: 1px;
  text-align: center;
  margin: 0px;
  color: gray !important;
}
